<div class="d-home-container">
    <div class="main">
        <img src="../assets/images/logo.png" alt="">
        <h2>Create your free Digi Card</h2>
        <h4>Click each item to edit</h4>
        <div #screen>
            <app-d-card [fullName]="'Your name'" [role]="'Role'" [bio]="'Bio'" [contact]="'+91-9999-888-777'"
                [email]="'abc@abc.com'" [facebook]="'www.facebook.com/xxxx'" [twitter]="'twitter.com/xyz'" [showColorButtons]="showColorButtons" [showPlaceholder]="showPlaceholder"></app-d-card>
        </div>
        <div class="d-action">
            <button (click)="downloadImage()">Download Card</button>
        </div>
    </div>
</div>

<div id="download">
    <img #canvas alt="file to download" style="display: none;">
    <a #downloadLink></a>
</div>